body{
  margin:0;
  color: #40514E;
  text-align: center;
  font-family:'Merriweather', serif ;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
}

h1{
  margin: 40px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;

}

.bio{
  width: 30%;
  margin-left: 520px;
  margin-bottom: 50px;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

a{
  height: 10px;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin:100px 0;

}

.cook{
  height: 200px;
  width: 100px;
  margin-bottom: 50px;
}

.bottom-container{
background-color: #66BFBF;
height: 150px;
margin-top: 100px;
}

.bottom-container1{
  background-color: #66BFBF;
  height: 150px;
  }


.skills3{
  background-color: #FF8FB1;
  height: 150px;
  margin-top: 100px;
  }

.bottom-cloud{
  position: absolute;
  left:400px;
  bottom: 250px;
}

.hind{
  text-align: center;
  font-size: 70px;
}

.img7{
  margin-top: 30px;
  margin-left: 80px;
  width: 70px;
  height: 70px;
  border-radius: 50%;

}

.top-cloud{
  position: absolute;
  right:400px;
  top: 40px;
}

.rel{
  top: 30px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.img{
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 50%;

}

.img2 {
  width: 25%;
  float: right;
  margin-left: 20px;
  border-radius: 50%;
}

.img3 {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 50%;
}

.img4{
  width: 20%;
  float: right;
  margin-left: 20px;
  margin-right: 100px;
  border-radius: 20%;
  position: relative;
  bottom: 100px;
  left: 30px;
  
}

.result{
  align-items: left;
}

.img5{
  width: 20%;
  float: right;
  margin-left: 20px;
  margin-right: 100px;
  border-radius: 20%;
  position: relative;
  bottom: 100px;
  left: 30px;
}

.rule{
  position: relative;
  bottom: 10px;
  left: 300px;
}
.bio{
  color: #40514E;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
.last{
  position: relative;
  top: 70px;
  color: #EAF6F6;
}

.footer{
  position: relative;
  top: 40px;
  font-size: 0.75rem;
}

.linked{
  height: 20px;
  width: 20px;
}

.sudoku{
  text-align: justify;
  font-size: 40px;
  margin-left: 50px;
}

.comp{
  height: 500px;
}

.footer-link{
  color: black;
  font-size: 15px;
  text-decoration: none;
  margin-right: 40px;

}

a:hover{
  color: #ffffff;
}


  .btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}


.btn1 {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  align-content: center;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.btn1:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}


.cook-skill{
  margin-top: 20px;
}
